
  <div class="data">
    <p> <span class="title"> address: </span> <%= @home.address%> </p>
    <p> <span class="title"> owner: </span> <%= @home.owner%> </p>
    <p> <span class="title"> neighborhood: </span> <%= @home.neighborhood%> </p>
    <p> <span class="title"> house size: </span> <%= @home.size%> sq ft </p>
    <p> <span class="title"> year built: </span> <%= @home.year_built%> </p>
    <p> <span class="title"> lot size: </span> <%= @home.lot_size%> </p>
    <p> <span class="title"> lot zoning: </span> <%= @home.lot_zoning%> </p>
    <p> <span class="title"> property taxes: </span> <%= @home.property_taxes%> </p>
    <p> <span class="title"> foundation type: </span> <%= @home.foundation_type%> </p>
    <p> <span class="title"> market value: </span> <%= @home.market_value%> </p>
    <p> <span class="title"> zestimate: </span> <%= @home.zestimate%> </p>
    <p> <span class="title"> pdxhomes estimate: </span> <%= @home.foostimate%> </p>
    <p> <span class="title"> walk score®: </span> <%= @home.walk_score%> </p>
  </div>
